form(action="/login" method="POST")
  p login form (for developers only) admin:123 - login as admin, user:123 - login as user
  input(type="text" name="login")
  input(type="text" name="pwd")
  input(type="submit")

form(action="/register" method="POST")
form(action="/login" method="POST")
  p register user form
  input(type="text" name="login")
  input(type="text" name="pwd")
  input(type="submit")

p our titles:
each publishedTitle in publishedTitles
  div(style="border: 2px solid green")
    a(href="/articles/" +publishedTitle.id)
      p= publishedTitle.title