p Content:
  div(style="border: 2px solid green")
    p= content.title
  form()
    input#name.form-control(type='text', placeholder='write comment here' name='name')
    button.btn.btn-primary(type='submit') Leave comment
  .likeArea
    .likes 0
    button(class='addLike') like

  p commentaries:
  div(class='commentArea')
  script(src="/javascripts/lavecomment.js")
  script(src="/javascripts/loadComments.js")
  script(src="/javascripts/addLike.js")


